#counter {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 100px auto;
    border-radius: 8px;
    background-color: rgba(242, 239, 240, 0.616);
    padding: 0 4rem;
}

div#counter #sub, div#counter #add {
    font-size: 2rem;
    padding: 15px 30px;
    margin: auto;
    transition: 0.5s;
    border: none;
    border-radius: 50%;
    box-shadow: 5px 0px 5px 0 ;
    cursor: pointer;
}

#sub {
    background-color: black;
    color: rgb(241, 14, 14);
}

#add {
    background-color: black;
    color: rgb(14, 241, 25);
}


#sub:hover {
    background-color: rgb(47, 2, 2);
    color: rgb(241, 14, 14);
}

#add:hover {
    background-color: rgb(19, 44, 2);
    color: rgb(14, 241, 25);
}

div#counter p {
    font-size: 4rem;
    padding-left: 3rem;;
    padding-right: 3rem;;
}

h1{
    text-align: center;
    font-size: 4rem;
    font-family: monospace;
}

#reset {
    background-color: black;
    color: rgb(67, 67, 236);
    display: flex;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 2rem;
    font-family: monospace;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#reset:hover{
    background-color: white;
    color: black;
    
}

body {
    background-color: hsl(0, 100%, 100%);
}
