#color-display {
    font-family: cursive;
    margin: 100px auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 4rem;
    box-shadow: 0 0 30px rgb(97, 81, 61);
    border-radius: 10px;
}

section#color-display h1 {
    font-weight: bold;
}

section#color-display #newColor {
    width: 100%;
    background-color: black;
    color: white;
    font-size: large;
    padding: .5rem;
    border-radius: 5px;
    font-family: monospace;
    cursor: pointer;
    transition: 0.5s ease-out; 
}

section#color-display #newColor:hover {
    background-color: blanchedalmond;
    color: black;
}




